<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="!jsonLog">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="jsonLog">
        <springProperty name="OTEL_SERVICE_NAME" source="otel.service.name"/>
        <springProperty name="SERVICE_VERSION" source="info.application.version"/>
        <springProperty name="ENV" source="info.properties.environment"/>

        <appender name="ECS_JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="co.elastic.logging.logback.EcsEncoder">
                <serviceName>${OTEL_SERVICE_NAME}</serviceName>
                <serviceVersion>${SERVICE_VERSION}</serviceVersion>
                <serviceEnvironment>${ENV}</serviceEnvironment>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="ECS_JSON_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
